html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right,#3D1E56, #7A46A2, #8A5AB1);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.box1 {
  width: 300px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px 0px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box2 {
  width: 300px;
  height: 500px;
  background-color: blue;
  border-radius: 0px 30px 30px 0px;
  background-image: url(https://cdn.pixabay.com/photo/2016/03/19/21/32/child-1267506_1280.jpg);
  background-size: cover;
  background-position: center;
}

.box1 button {
  background-color: #E090FC;
  font-size: 18px;
  padding: 10px 50px;
  margin-top: 10px; 
  border-radius: 20px 20px 20px 20px;
  transition: all 0.3s ease;
}

.box1 h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
  font-stretch: extra-expanded;
}

.box1 h2 {
  color: #5D5D5D;
  text-align: center;
  margin-bottom: 30px;
}

.box1 h3 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
}

.box1 button:hover {
  background-color: #8A5AB1; 
  color: rgb(255, 255, 255); 
}

/* Media queries */

@media (max-width: 500px) {
  .box1,
  .box2 {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    border-radius: 0;
  }
  
  .box1 {
    padding: 20px;
  }
  
  .box1 h1 {
    font-size: 36px;
  }
  
  .box1 h2 {
    font-size: 24px;
  }
  
  .box1 h3 {
    font-size: 30px;
  }
  
  .container {
    flex-direction: column;
    height: auto;
  }
  
  .box2 {
    display: none;
  }
}
